# VITE_SUPABASE_URL=https://robwdgsiolblufgfxniw.supabase.co/rest/v1/
# VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJvYndkZ3Npb2xibHVmZ2Z4bml3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk0NzY4MjUsImV4cCI6MjA5NTA1MjgyNX0.PT_SHuuNa5F1CFBKshK4vOp8YI6Znj1ntZoma2SUNP